<!DOCTYPE html>
<html lang=“en”>
<head>
<meta charset=“UTF-8”>
<title>HexadecimalApp</title>
</head>

<body>
    <div align=“center”>
        <h3>Coversor Decimal Number in Hexadecimal Number</h1>
        <form action="" method=“get”>
            <input type=“text” id=“number” name="number" placeholder="Enter decimal number">
            <input type="submit" name="send" value="Convert">
        </form>
        {% if hexadecimal_number %}
        <p>
            <h3>Número {{decimal_number}} em binário {{hexadecimal_number}}</h3>
        </p>
        {% endif %}

    </div>
</body>

</html>
