<!DOCTYPE html>
<html lang='pt'>
    <head>
        <meta charset="='UTF-8">
        <title>Cumprimentos</title>
    </head>

    <body>
        <a href=".">Home</a>

        <div align='center'>
            <h2>Conversor de Unidade de Comprimento</h2>
            <form action='' method="get">
                <h4>Selecione a unidade de medida de entrada</h4>
                <input type='text' id='member' name='number' placeholder="Medida">
                <br><br>
                <select name='in_si_length' id='in_si_length'>
                    <option value=m>metros (m)</option>
                    <option value=dm>decímetros (dm)</option>
                    <option value=cm>centímetros (cm)</option>
                    <option value=mm>milímetros (mm)</option>
                </select>

                <h4>Selecione a unidade de medida de saída</h4>
                <select name='out_si_length' id='out_si_length'>
                    <option value=m>metros (m)</option>
                    <option value=dm>decímetros (dm)</option>
                    <option value=cm>centímetros (cm)</option>
                    <option value=mm>milímetros (mm)</option>
                </select>

                <br><br>

                <input type='submit' value='Converter'>

            </form>
            <br>
            {% if convert_number%}
                {{convert_number}} {{si}}
            {% endif %}
            
        </div>
    </body>
</html>
